*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url('Images/cursor.svg'), auto;
}
:root{
    --primary-color: #080808;
    --secondary-color: #fff;
    --additional-color: #ff004f;
}
.light-theme{
    --primary-color: #edf2fc;
    --secondary-color: #212121;
}

a{
    text-decoration: none;
    color: var(--secondary-color);
}
body{
    background: var(--primary-color);
    color: var(--secondary-color);
}
.navbar{
    width: 100vw;
    position: fixed;
    z-index: 1;
    top: 0;
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center;
    /* background: #161640; */
    background: var(--primary-color);
    padding: 0 10px;
}
.navbar img{
    height: 60px;
    width: 90px;
}
.navbar ul{
    display: flex;
    list-style: none;
}
.navbar ul li{
    margin: 0 20px;
}
.navbar ul img{
    height: 30px;
}
.navbar ul li a{
    font-size: 25px;
    position: relative;
}
.navbar ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: var(--additional-color);
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.5s;
}
.navbar ul li a:hover::after{
    width: 100%;
}
.nav-link.active{
    color: var(--additional-color);
    /* color: #7843e6; */
}
.nav-link.active:hover{
    color: #fff;
}


.home{
    display: flex;
    /* position: fixed; */
    align-items: center;
    justify-content: space-between;
    margin: 0 70px;
    height: 100vh;
    /* width: 100vw; */
    /* margin: 20px; */
    /* background-image: url(Images/myImageShort.png); */
    background-position: center;
    background-size: cover;
    /* border: 1px solid green; */
}
.home .introDiv{
    font-size: 50px;
    font-weight: 700;
}
.home .introDiv h3{
    color: #7843e6;
    display: inline;
}
.home img{
    height: 600px;
    width: 520px;
    margin-top: 60px;
}


.about{
    height: 100vh;
    /* width: 100vw; */
    display: flex;
    margin: 40px;
    padding-top: 80px;
    /* border: 1px solid red; */
}
.about img{
    height: 250px;
    width: 200px;
    background: #161640;
    border-radius: 10px;
}
.about .aboutContent{
    margin-left: 50px;
}
.about .aboutContent ul li{
    margin-right: 30px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    position: relative;
}
.about .aboutContent ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.5s;
}
.about .aboutContent ul li:hover::after{
    width: 100%;
}